.new-tweet {
  position: relative;
  top:32px;
  border-radius: 5px;
  border: 2px solid grey;
  margin:32px;
  padding: 10px;
  background-color: #e6e6e6;

  .new-tweet h2 {
    border-bottom: 1px solid;
  }

  form {

    textarea {
      width: 100%;
    }

    .counter {
      position:absolute;
      right: 10px;
    }

    .negative {
      color: red;
    }
  }
}

