$tweetShade: #e6e6e6;
%tweet-boxes {
  position: relative;
  top:32px;
  border-radius: 5px;
  border: 2px solid grey;
  margin: 32px;
}

.new-tweet {
  @extend %tweet-boxes;
  padding: 10px;
  background-color: $tweetShade;

  .new-tweet h2 {
    border-bottom: 1px solid;
  }

  form {
    textarea {
      width: 100%;
    }
    .counter {
      position:absolute;
      right: 10px;
    }
    .negative {
      color: red;
    }
  }
}

article.tweet {
  @extend %tweet-boxes;
  background-color: white;

  article.tweet-text {
    padding: 20px;
  }

  header {
    background-color: $tweetShade;
    padding: 10px;
    opacity: 0.5;

    .name {
      font-size: 20px;
      font-weight: bold;
      position: absolute;
      padding-left: 10px;
    }

    .handle {
      float: right;
      color: grey;
    }

    .avatar {
      width: 50px;
      height: 50px;
    }
  }

  footer {
    border-top: 1px solid #b3b3b3;
    padding: 10px;
    font-size: 10px;

    button {
      float: right;
      margin: 1px;
      left: 100px;
      border: 0px;
      height: 15px;
      width: 15px;
      opacity: 0;
    }

    img{
      height: 10px;
      width: 12px;
    }
  }
}

article.tweet:hover {
  border: 2px solid grey;
  header {
    opacity: 1;
  }
  footer button {
    opacity: 1;
  }
}
