.all-tweets {
  position: relative;
  top: 5em;
  border-radius: 5px;
  border: 2px solid #cccccc;
  margin: 2em;
  background-color: white;
}

.all-tweets.hovering {
  border: 2px solid grey;
}

.all-tweets article {
  padding: 20px;
}

.all-tweets header {
  background-color: #e6e6e6;
  padding: 10px;
  opacity: 0.5;
}

.all-tweets.hovering header {
  opacity: 1;
}

.all-tweets header .name {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  padding-left: 10px;
}

.all-tweets header .email {
  float: right;
  color: grey;
}

.all-tweets header .id-pic {
  width: 50px;
  height: 50px;
}

.all-tweets footer {
  border-top: 1px solid;
  padding: 10px;
  font-size: 10px;
}

.all-tweets footer .symbols {
float: right;
}

