article.tweet {
  position: relative;
  top: 2em;
  border-radius: 5px;
  border: 2px solid #cccccc;
  margin: 2em;
  background-color: white;
}

article.tweet.hovering {
  border: 2px solid grey;
}

article.tweet article.tweet-text {
  padding: 20px;

}

article.tweet header {
  background-color: #e6e6e6;
  padding: 10px;
  opacity: 0.5;
}

article.tweet.hovering header {
  opacity: 1;
}

article.tweet header .name {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  padding-left: 10px;
}

article.tweet header .handle {
  float: right;
  color: grey;
}

article.tweet header .avatar {
  width: 50px;
  height: 50px;
}

article.tweet footer {
  border-top: 1px solid;
  padding: 10px;
  font-size: 10px;
}

article.tweet footer .symbols {
float: right;
}

